<div class="container-fluid py-3" style="background-color: #F1F1F1;">

  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="{{pathOrigin?.path}}">{{pathOrigin?.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Descripcion</li>
      </ol>
    </nav>
  </div>


  <div class="container py-1 my-4">
    <div *ngFor="let recipe of infoRecipe">
      <div class="row">
        <div class="col-md-5 align-self-center">
          <div class="cont-image-detail">
            <img src="{{recipe.image}}" alt="recipe.name" class="w-auto h-100">
          </div>
        </div>
        <div class="col-md-6 align-self-start">
          <h2>{{recipe.name}}</h2>
          <p>{{recipe.description}}</p>
        </div>
      </div>
    </div>
  </div>



</div>

