<div class="container-fluid py-3 ctn-principal">

  <!-- Breadcrumbs catalog 1/2 and description -->

  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="{{pathOrigin?.path}}">{{pathOrigin?.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Descripcion</li>
      </ol>
    </nav>
  </div>

  <!-- made a for to show all the information about the recipes -->

  <div class="container py-1 my-4">
    <div *ngFor="let recipe of infoRecipe">
      <div class="row">
        <div class="col-md-5">
          <div class="cnt-image-detail p-2">
            <img src="{{recipe.image}}" alt="recipe.name" class="w-auto">
          </div>
        </div>
        <div class="col-md-6 align-self-start">
          <h2>{{recipe.name}}</h2>
          <p>{{recipe.recipe}}</p>
          <div *ngFor="let ingredient of recipe.ingredients">
            <span [innerText]="ingredient"></span>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

