
.ctn-image-detail{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-detail{
  width: 100%;
}


@media (max-width: 425px) {

  .image-detail{
    width: auto;
  }

}
