.ctn-principal{
  background-color: #F1F1F1;
}

.ctn-image-detail{
  height: 115vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


@media (max-width: 768px) {

  .image-detail{
    width: auto;
  }

}

.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

.carousel-inner{
height: 500px;
}
