<div class="container-fluid py-3" style="background-color: #F1F1F1;">

  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Catalogo 1</li>
      </ol>
    </nav>
  </div>

  <div class="container py-5" id="catalog">
    <div class="row row-cols-1 row-cols-md-4">

      <div *ngFor="let recipe of recipes">
        <div class="col py-1 m-0">
          <div class="card">
            <div class="p-0 m-0 ctn-image-detail">
              <img src="{{recipe.image}}" class="card-img-top w-auto h-100" alt="{{recipe.name}}">
            </div>
            <div class="card-body">
              <h5 class="card-title fw-bold fst-italic text-truncate text-sm">{{recipe.name}}</h5>
              <p class="card-text fs-6">{{recipe.description}}</p>
            </div>
            <div class="card-footer">
              <small class="card-info"><a class="link-primary" (click)="viewMore(recipe.name)">Leer más...</a></small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
