<!-- Footer -->

<footer class="footer py-4 p-5 footer-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Información de contacto</h4>
        <p>Teléfono: Numero telefonico</p>
        <p>Email: ejemplo@gmail.com</p>
        <p>Dirección: Calle, Ciudad, País</p>
      </div>
      <div class="col-md-6">
        <h4>Enlaces útiles</h4>
        <ul>
          <li><a routerLink="{{catalog}}">Catalogo 1</a></li>
          <li><a routerLink="{{catalogCarousel}}">Catalogo 2</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
